:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --h1-text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --rec-display: none;
  --text-color: #353430;
  --heading-color: #353430;
  --section-title-color: #353430;
  --hover-border-color: #32312d66;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --h1-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --rec-display: none;
    --text-color: #353430;
    --heading-color: #353430;
    --section-title-color: #353430;
    --hover-border-color: #32312d66;

  }
}
