:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --h1-text-color: #db00ff;
  --accent-color: #ff0070;
  --rec-display: block;
  --text-color: #f1b2ce;
  --heading-color: #000028;
  --section-title-color: #ff0070;
  --hover-menu-button-border-color: #ff007066;
  --decorated-zone-color: #ff0070;
  --menu-button-color: #ff0070;
  --menu-button-active-color: #ff0070;
  --focus-border-color: #ff0070;
}
